# Ignore large raw data
data/raw/*.csv
data/raw/*.db
data/raw/*

# Ignore processed data
data/processed/*.csv
data/processed/*.db
data/processed/*

# Ignore jupyter checkpoints folder
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore large raw and processed data files
product-analytics-retention/data/raw/*
product-analytics-retention/data/processed/*

# Allow README placeholders
!product-analytics-retention/data/raw/README.md
!product-analytics-retention/data/processed/README.md
